<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Router</title>
</head>
<body>
    <h1>R2_28</h1>
    <form method="post" action="/">
        <p>Введите ip-адрес TFTP-сервера и название файла с конфигурацией</p>
        <p>IP:</p>
        <input type="text" value="" name="ip"/>
        <p>Имя файла на сервере:</p>
        <input type="text" value="" name="file_name"/>
        <br><br>
        <input type="submit" value="Отправить" name="apply"/>
        <input type="submit" value="Отмена" name="cancel"/>
    </form>
</body>
</html>